.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-area {
  height: 1000px;
  width: 85%;
  border-left: solid;
  overflow: scroll;
}

#root, .App, .container {
  height: 100%;
}

.own-message {
  justify-content: end;
  color: #b00b69;
  text-align: right;

}

.chat-message {
  flex-basis: 100%;
  justify-self: start;
  text-align: start;
  word-wrap: break-word;
}

.chat-message-wrapper {
  flex-wrap: wrap;
}

.user-list {
  width: 20%;
}

.chat-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border: none;
  background-color: #b00b69;
  color: azure;
}

.input-wrapper {
  position: relative;
}

.chat-input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgb(241, 235, 235);
}

.own-chat-message {
  text-align: right;
}

.container {
  padding-top: 50px;
}

.entry-container {
  padding-top: 300px;
}

.enter-title, .rooms-title {
  text-align: center;
}

.room-join-button {
  border: none;
}

.rooms-container {
  padding-top: 0;
  margin-top: 200px;
  height: 500px;
}

.rooms-wrapper {
  height: 100%;
  overflow-y: scroll;
}

* {
  word-wrap: break-word;
  max-width: 100%;
}